* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  letter-spacing: 0.2px;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}