/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;

}

li a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
