.container {
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 15vh;
    padding: 0px 1rem 0px 1rem;
}

.inrhild {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}
.homeimg{
    align-items: end;
}
.homeimg img{
    height: 250px;
    width: 250px;
    box-shadow: 1px 2px 10px blue;
    border-radius: 50%;
}