.container_main {
    display: flex;
}

aside {
    width: 30vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 0px 10px;
    border-right: 1px solid rgb(111, 111, 111);
    margin-top: 4px;
}

#asideui {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rendem {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}