.moviecard {
    height: 250px;
    width: 200px;
    border: 2px solid rgb(77, 77, 77);
    border-radius:10px;
    padding: 5px;
}

.movietext {
    height: 25%;
    width: 100%;
    align-items: center;
}

.img {
    height: 75%;
}

.img img {
    border-radius: 10px;
}

.movietext div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
}