#header {
    background-color: rgb(28, 28, 28);
    height: 50px;
    padding: 0 10px;
}

#header nav {
    height: 100%;
    width: 100%;
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_search {
    width: clamp(30vw, 60vw, 700px);
    padding: 8px 8px 8px 2px;
    color: black;
}