#header {
    height: 50px;
    padding: 0 10px;
    border-bottom: 2px solid rgb(16, 13, 13);
}

#header nav {
    height: 100%;
    width: 100%;
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_search {
    width: clamp(30vw, 60vw, 700px);
    padding: 8px 8px 8px 5px;
    color: rgb(209, 209, 209);
    border: none;
    border-radius: 5px;
}