.otr-container {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie-container {
    color: white;
    display: flex;
}

.moviecard {
    height: 220px;
    width: 150px;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.movietext {
    height: 25%;
    width: 100%;
    align-items: center;
    margin-top: 5px;
}

.img {
    height: 75%;
}

.img img {
    border-radius: 10px;
}

.movietext div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
}

span {
    font-size: 10px;
}





/* ASIDE  */

aside {
    width: 25vw;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 0px 10px;
    border-right: 1px solid rgb(111, 111, 111);
    margin-top: 4px;
}

#asideui {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#asideui>li {
    display: flex;
    justify-self: center;
    padding: auto;
    gap: 10px;
    cursor: pointer;
}
