.box1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
.box2 {
    height: 100vh;
    width: 100%;
    background-color: #222;
}
.box3 {
    height: 100vh;
    width: 100%;
    background-color: #333;
}