header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem 0px 1rem;
    height: 14vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    backdrop-filter: blur(8px);
}

.box {
    display: flex;
    gap: 2rem;
}

.logo {
    text-shadow: 2px 2px 1px #58a6ff;
    font-weight: 100;
    font-size: 2rem;
}

li a:hover {
    color: #58a6ff;
    transition-duration: 0.2s;
    letter-spacing: 1.4px;
}

nav li {
    min-width: 90px;
    text-align: center;
}

.btn {
    box-shadow: 1px 1px 1px 2px #58a6ff;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: rgb(11, 11, 73);
}
.icon{
    display: none;
}

@media (max-width:667px) {
    li {
        display: none;
    }
    .btn{
        display: none;
    }
    .icon{
    display: block;
}
}