* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c9d1d9;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-color: #0d1117;
}

html {
  scroll-behavior: smooth;
}