.container {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  justify-self: center;
  margin-top: 100px;
}

.round {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

button {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #444;
  margin: 0px 5px 0px 0px;
}


.glitch:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  border: 1px solid red;
}


@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-4px, 4px);
  }

  40% {
    transform: translate(-4px, -4px);
  }

  60% {
    transform: translate(4px, 4px);
  }

  80% {
    transform: translate(4px, -4px);
  }

  100% {
    transform: translate(0);
  }
}