.container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  justify-self: center;
  margin-top: 100px;
}

.round {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  corner-shape:bevel;
  box-shadow: rgba(24, 24, 24, 0.725) 0px 50px 100px -20px, rgba(0, 0, 0, 0.642) 0px 30px 60px -30px, rgba(0, 0, 0, 0.678) 0px -2px 6px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

button {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #444;
  margin: 0px 5px 0px 0px;
  color: white;
}

.glitch span {
  color: white;
}


.glitch:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  border: 1px solid red;
}


@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-4px, 4px);
  }

  40% {
    transform: translate(-4px, -4px);
  }

  60% {
    transform: translate(4px, 4px);
  }

  80% {
    transform: translate(4px, -4px);
  }

  100% {
    transform: translate(0);
  }
}

.heading{
  text-shadow: 2px 3px 3px rgb(111, 110, 110);
}